asgiref
certifi
charset-normalizer
crispy-bootstrap5
Django
django-appconf
django-autoslug
django-crispy-forms
django-extensions
django-filter
django-imagekit
django-phonenumber-field
django-tables2
et_xmlfile
gunicorn
idna
openpyxl
packaging
phonenumbers
pilkit
pillow
requests
sqlparse
tablib
tzdata
urllib3
whitenoise
# Django Packages
Django
django-autoslug
django-crispy-forms
django-extensions
django-filter
django-imagekit
django-phonenumber-field
django-tables2

# Bootstrap Packages
crispy-bootstrap5

# Utility Packages
openpyxl
phonenumbers
requests
tablib
gunicorn
dj_database_url